* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.main {
  margin: 1;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr grid-template-rows 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "cajaA cajaB" "cajaC cajaD" "cajaE cajaF" "cajaG cajaH"; }
  .main .caja {
    width: 15rem; }

a:hover {
  background-color: white; }

.barman {
  width: 20rem; }

.uptown {
  width: 30rem; }

.presidente {
  width: 30rem; }

.tresm {
  width: 30rem; }

.footer {
  background-color: #ac51ac; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer .redes .insta {
      width: 4rem; }
    .footer .redes .face {
      width: 5rem; }
    .footer .redes .whats {
      width: 5rem; }
  .footer h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  a:hover {
    background-color: white; }
  .historia {
    text-align: center; }
  main {
    display: grid;
    grid-template-columns: 2fr grid-template-rows repeat(8, 1fr);
    gap: 1rem;
    grid-template-areas: "cajaA" "cajaB" "cajaC" "cajaD" "cajaE" "cajaF" "cajaG" "cajaH"; }
  .barman {
    width: 13rem;
    border: 1px white solid;
    margin: 1%; }
  .uptown {
    width: 14rem;
    border: 1px white solid;
    margin: 1%; }
  .tresm {
    width: 14rem;
    border: 1px white solid;
    margin: 1%; }
  .presidente {
    width: 16rem;
    border: 1px white solid;
    margin: 1%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

main {
  background-color: black;
  color: white; }
  main .fernet, main .gin, main .caipi {
    width: 32rem;
    margin: 2%; }
  main .trago1, main .trago2, main .trago3 {
    margin: 2.5%; }

.footer1 {
  background-color: #b90909; }
  .footer1 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer1 .redes .insta {
      width: 5rem; }
    .footer1 .redes .face {
      width: 5rem; }
    .footer1 .redes .whats {
      width: 5rem; }
  .footer1 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .fernet, main .gin, main .caipi {
    width: 24rem;
    margin: 1.5%; }
  .gin {
    width: 24rem;
    margin: 1.5%; }
  .caipi {
    width: 24rem;
    margin: 1.5%; }
  .trago1, main .trago2, main .trago3 {
    margin: 1.5%;
    align-content: flex-start; }
  .trago2 {
    margin: 1.5%;
    align-content: flex-start; }
  .trago3 {
    margin: 1.5%;
    align-content: flex-start; }
  .footer1 {
    background-color: #ff2a2a; }
    .footer1 .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer1 .redes .insta {
        width: 4; }
      .footer1 .redes .face {
        width: 4; }
      .footer1 .redes .whats {
        width: 4; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.p-s-h {
  margin: 2%; }

.cocteles {
  margin: 2%; }
  .cocteles .coctel1 {
    width: 28rem;
    height: auto; }
  .cocteles .coctel2 {
    width: 45rem; }

.footer2 {
  background-color: #1ccf0b; }
  .footer2 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer2 .redes .insta {
      width: 4rem; }
    .footer2 .redes .face {
      width: 5rem; }
    .footer2 .redes .whats {
      width: 5rem; }
  .footer2 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .p-s-h {
    margin: 1%;
    align-content: flex-start; }
  .cocteles {
    margin: 1%; }
    .cocteles .coctel1 {
      width: 20rem;
      height: auto; }
    .cocteles .coctel2 {
      width: 30rem; }
  .footer1 {
    background-color: #04dd0f; }
    .footer1 .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer1 .redes .insta {
        width: 4; }
      .footer1 .redes .face {
        width: 4; }
      .footer1 .redes .whats {
        width: 4; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

main {
  background-color: black;
  color: white; }

.ale {
  width: 33rem;
  margin: 2%; }

.ipa {
  width: 33rem;
  height: auto; }

.ipa {
  margin: 2%; }

.pcerveza {
  margin: 1.5%; }

.footer3 {
  background-color: #dbdf0e; }
  .footer3 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer3 .redes .insta {
      width: 5rem; }
    .footer3 .redes .face {
      width: 5rem; }
    .footer3 .redes .whats {
      width: 5rem; }
  .footer3 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .ale {
    width: 24;
    height: auto; }
  .ipa {
    width: 24rem;
    height: auto; }
  .pcerveza {
    align-content: flex-start;
    margin: 1%; }
  .footer3 {
    background-color: #b0b304; }
    .footer3 .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer3 .redes .insta {
        width: 4; }
      .footer3 .redes .face {
        width: 4; }
      .footer3 .redes .whats {
        width: 4; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.form {
  text-align: left; }

.rango {
  width: 28rem; }

button:hover {
  width: 8rem;
  color: white;
  background-color: blue; }

.footer {
  background-color: #4215e4; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer .redes .insta {
      width: 4rem; }
    .footer .redes .face {
      width: 5rem; }
    .footer .redes .whats {
      width: 5rem; }
  .footer h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .form {
    text-align: center;
    padding: 3%; }
  .rango {
    width: 20rem; } }
