* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.main {
  margin: 1;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr grid-template-rows 1fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "cajaA cajaB" "cajaC cajaD" "cajaE cajaF" "cajaG cajaH"; }
  .main .caja {
    width: 15rem; }

a:hover {
  background-color: white; }

.barman {
  width: 20rem; }

.uptown {
  width: 30rem; }

.presidente {
  width: 30rem; }

.tresm {
  width: 30rem; }

.footer {
  background-color: #ac51ac; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer .redes .insta {
      width: 5rem; }
    .footer .redes .face {
      width: 5rem; }
    .footer .redes .whats {
      width: 5rem; }
  .footer h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  a:hover {
    background-color: white; }
  .historia {
    text-align: center; }
  main {
    display: grid;
    grid-template-columns: 2fr grid-template-rows repeat(8, 1fr);
    gap: 1rem;
    grid-template-areas: "cajaA" "cajaB" "cajaC" "cajaD" "cajaE" "cajaF" "cajaG" "cajaH"; }
  .barman {
    width: 13rem;
    border: 1px white solid;
    margin: 1%; }
  .uptown {
    width: 14rem;
    border: 1px white solid;
    margin: 1%; }
  .tresm {
    width: 14rem;
    border: 1px white solid;
    margin: 1%; }
  .presidente {
    width: 16rem;
    border: 1px white solid;
    margin: 1%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

main {
  background-color: black;
  color: white; }
  main .t-principal {
    text-align: center;
    font-size: 220%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  main .ferne, main .ginn, main .caip {
    width: 50%;
    margin: 2%; }
  main .trago1, main .trago2, main .trago3 {
    margin: 2.5%; }

.footer1-0 {
  background-color: #b90909; }
  .footer1-0 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer1-0 .redes .insta {
      width: 5rem; }
    .footer1-0 .redes .face {
      width: 5rem; }
    .footer1-0 .redes .whats {
      width: 5rem; }
  .footer1-0 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .t-principal {
    font-size: 190%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; }
  .ferne, main .ginn, main .caip {
    width: 70%;
    margin: 1.5%; }
  .ginn {
    width: 70%;
    margin: 1.5%; }
  .caip {
    width: 70%;
    margin: 1.5%; }
  .trago {
    width: 50%;
    text-align: center; } }

.footer1 {
  background-color: red; }
  .footer1 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer1 .redes .insta {
      width: 4; }
    .footer1 .redes .face {
      width: 4; }
    .footer1 .redes .whats {
      width: 4; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.p-s-h {
  margin: 2%; }

.tprincipal {
  font-size: 230%;
  text-align: center;
  padding: 1%; }

.coctel1 {
  width: 31%;
  height: auto;
  margin: 1.5%; }

.coctel2-0 {
  width: 40%;
  margin: 1.5%; }

.iyp {
  margin: 2%; }

.footer2 {
  background-color: #2ae719; }
  .footer2 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer2 .redes .insta {
      width: 5rem; }
    .footer2 .redes .face {
      width: 5rem; }
    .footer2 .redes .whats {
      width: 5rem; }
  .footer2 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .p-s-h {
    margin: 1%;
    align-content: flex-start; }
  .tprincipal {
    text-align: center;
    font-size: 190%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .coctel1 {
    width: 60%;
    height: auto; }
  .coctel2-0 {
    width: 76%; }
  .iyp {
    margin: 1%; }
  .footer1 {
    background-color: #1ce726; }
    .footer1 .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer1 .redes .insta {
        width: 4rem; }
      .footer1 .redes .face {
        width: 4rem; }
      .footer1 .redes .whats {
        width: 4rem; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

main {
  background-color: black;
  color: white; }
  main .tprincipal {
    text-align: center;
    font-size: 220%; }
  main .alee {
    width: 40%;
    margin: 2%; }
  main .ipaa {
    width: 54%;
    margin: 2%; }
  main .cale {
    width: 70%;
    margin: 1%; }

.footer3 {
  background-color: #dbdf0e; }
  .footer3 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer3 .redes .insta {
      width: 5rem; }
    .footer3 .redes .face {
      width: 5rem; }
    .footer3 .redes .whats {
      width: 5rem; }
  .footer3 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .logo {
    width: 4rem; }
  .ale {
    width: 40%; }
  .ipaa {
    width: 50%; }
  .cale {
    width: 50%;
    text-align: center; }
  .footer3 {
    background-color: #b0b304; }
    .footer3 .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
      .footer3 .redes .insta {
        width: 4; }
      .footer3 .redes .face {
        width: 4; }
      .footer3 .redes .whats {
        width: 4; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar .logo {
  margin: 1;
  padding: 1;
  width: 6rem; }

.navbar .titulo {
  font-family: 'Courier New', Courier, monospace; }

.descripcion {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.rango {
  width: 28rem; }

button:hover {
  width: 8rem;
  color: white;
  background-color: blue; }

.footer4 {
  background-color: #2e70d3; }
  .footer4 .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer4 .redes .insta {
      width: 5rem; }
    .footer4 .redes .face {
      width: 5rem; }
    .footer4 .redes .whats {
      width: 5rem; }
  .footer4 h5 {
    color: white; }

@media only screen and (max-width: 500px) {
  .form {
    text-align: center;
    padding: 3%; }
  .rango {
    width: 20rem; } }
