*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar .logo{
   margin: 1;
   padding: 1;
   width: 6rem;
}

 a:hover{
    background-color: white;
}

.caja{
    width: 15rem;
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
}

.main{
     
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    

    grid-template-areas: 
        "cajaA cajaB"
        "cajaC cajaD"
        "cajaE cajaF"
        "cajaG cajaH";
}

main{
    background-color: black;
    
    color: white;
}


.barman{
    width: 20rem;
}

.uptown{
    width: 30rem;
}

.presidente{
    width: 30rem;
}

.tresm{
    width: 30rem;
}


.footer{
    background-color: rgb(172, 81, 172);
}

.footer1{
    background-color:  rgb(185, 9, 9);
}

.footer2{
    background-color: rgb(28, 207, 11);
}

.footer3{
    background-color: rgb(219, 223, 14);
}
.footer4{
    background-color: rgb(25, 61, 221);
}

.redes{
    
    display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}

.insta{
    width: 4rem;
}
.face{
    width: 5rem;
}
.whats{
    width: 5rem;
}

.fernet{
    width: 32rem;
}

.gin{
    width: 32rem;
}

.caipi{
    width: 32rem;
}

.coctel1{
    width: 28rem;
    height: auto;
    
}

.coctel2{
    width: 45rem;
}



.ale{
    width: 32rem;
   margin: 2%;
}

.ipa{
    width: 32rem;
    margin: 2%;
}

.pcerveza {
    margin: 1.5%;
    
}

.form{
    text-align: left;
}

.rango{
    width: 28rem;
}

button:hover{
    width: 8rem;
    color: white;
    background-color: blue;
}

@media only screen and (max-width:500px){
     
    .historia{
        text-align: center;
     }
    
main{
    display: grid;
    grid-template-columns: 1fr 
    grid-template-rows: repeat(8, 1fr) ;
    gap: 1rem;
    

    grid-template-areas: 
        "cajaA"
        "cajaB"
        "cajaC"
        "cajaD"
        "cajaE"
        "cajaF"
        "cajaG"
        "cajaH" 
        ;
}

     .barman{
        align-content: center;
        width: 16rem;
        border: 1px white solid;
     }

     .uptown{
        align-content: center;
        width: 16rem;
        border: 1px white solid;
     }

     .tresm{
        align-content: center;
        width: 16rem;
        border: 1px white solid;
     }

     .presidente{
        align-content: center;
        width: 16rem;
        border: 1px white solid;
     }

     .parrafo{
        text-align: center;
     }

.form{
    text-align: center;
    padding: 3%;
   
}

   .rango{
    width: 20rem;
   }
     
}




