*{
    padding: 0;
     margin: 0;
     box-sizing: border-box;
    }

    .navbar{
        .logo{
            margin: 1;
            padding: 1;
            width: 6rem;
        }
        .titulo{
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .form{
        text-align: left;
        }
        
        .rango{
         width: 28rem;
        }
        
        button:hover{
        width: 8rem;
         color: white;
        background-color: blue;
        }

        .footer{
            background-color: rgb(66, 21, 228);
            
            .redes{

                 display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .insta{
                    width: 4rem;
                }
                .face{
                    width: 5rem;
                }
                .whats{
                    width: 5rem;
                }
                }
                h5{
                    color: white;
                }
            }
    @media only screen and (max-width:500px){
        .form{
             text-align: center;
             padding: 3%;
                    }
            
            .rango{
             width: 20rem;
            }
            
            }
    
