$footer1:  rgb(185, 9, 9);
$tamanio-redes: 5rem;
  
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
    }

    .navbar{
        .logo{
            margin: 1;
            padding: 1;
            width: 6rem;
        }
        .titulo{
            font-family: 'Courier New', Courier, monospace;
        }
    }

    main{
    background-color: black; 
    color: white;
       

        .fernet{
            width: 32rem;
            margin: 2%;
            }
            
            .gin{
             @extend .fernet
            }
            
            .caipi{
             @extend .fernet
            } 
            
            .trago1{
                margin: 2.5%;
            }
            .trago2{
                @extend .trago1
            }
            .trago3{
                @extend .trago1
            }
         }

         .footer1-0{
            background-color: $footer1;
            
            .redes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .insta{
                width: $tamanio-redes;
                }
                .face{
                 width: $tamanio-redes;
                }
                .whats{
                 width: $tamanio-redes;
                }
            }
            h5{
                color: white;
            }
         }

    @media only screen and (max-width: 500px) {
       
       
        .logo{
            width: 4rem;
        }

        .t-principal{
            font-size: 190%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
    
        .ferne{
            width: 70%;
            margin: 1.5%;
          
        }
        .ginn{
            width: 70%;
            margin: 1.5%;
            
        }
        .caip{
            width: 70%;
            margin: 1.5%;
           
        }

        .trago{
            width: 50%;
            text-align: center;
            
        }
        
           }
             .footer1{
                background-color: red;
                .redes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .insta{
                width: 4;
                }
                .face{
                 width:4 ;
                }
                .whats{
                 width: 4;
                }
            }
             }
            
         
        
    