



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    .navbar{
        .logo{
            margin: 1;
            padding: 1;
            width: 6rem;
        }
        .titulo{
            font-family: 'Courier New', Courier, monospace;
        }
    }


    .p-s-h {
        margin: 2%;
    }

    .tprincipal{
        font-size: 230%;
        text-align: center;
       
        padding: 1%;
    }
 
    
     .coctel1{
        width: 31%;
         height: auto;
         margin: 1.5%;
         
        }
        
        .coctel2-0{
        width: 40%;
        margin: 1.5%;
        }

        .iyp{
            margin: 2%;
        }
  

  .footer2{
    background-color: rgb(42, 231, 25);
    .redes{
 
        display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       .insta{
           width: 5rem;
       }
       .face{
           width: 5rem;
       }
       .whats{
           width: 5rem;
       }
       }
       h5{
        color: white;
       }
  }
  
  @media only screen and (max-width: 500px){
    .logo{
        width: 4rem;
    }
    .p-s-h{
        margin: 1%;
        align-content: flex-start;
    }

     
    .tprincipal{
                text-align: center;
                font-size: 190%;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
        
        .coctel1{
            width: 60%;
            height: auto;
        }
        .coctel2-0{
            width: 76%;
        }
        .iyp{
            margin: 1%;
        }
    
    .footer1{
        background-color: rgb(28, 231, 38);
        
        .redes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .insta{
            width: 4rem;
            }
            .face{
             width:4rem ;
            }
            .whats{
             width: 4rem;
            }
        }
    }
}


